.content {
    padding-top: 30px;
    .filter {
        padding-top: 20px;
        padding-bottom: 20px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        &-name{
            color: $red;
            padding-top: 20px;
        }
        &-content{
            padding-top: 10px;
        }
    }
    .product-wrap {
        padding-top: 10px;
        padding-bottom: 10px;
        .price {
            font-size: 13px;
            font-weight: bold;
        }
    }
}
.underline {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 30%;
        height: 2px;
        background: $red;
        bottom: -5px;
    }
}
.wrap-products-list{
    padding: 30px 0;
}