//Products list
.content {
    padding-top: 30px;
    .filter {
        padding-top: 20px;
        padding-bottom: 20px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        &-name{
            color: $red;
            padding-top: 20px;
        }
        &-content{
            padding-top: 10px;
        }
    }
    .product-wrap {
        padding-top: 10px;
        padding-bottom: 10px;
        .price {
            font-size: 13px;
            font-weight: bold;
        }
        .product-category {
            background: #2b904b;
            padding: 3px 3px;
            color: white;
            display: inline-block;
            font-size: 13px !important;
            padding: 0 5px;
            border-radius: 5px;
        }
    }
}
.wrap-products-list{
    padding: 30px 0;
}

//Order summary
.order-summary{
    margin-bottom: 20px;
    td {
        font-weight: bold;
    }
}
.order-product-list td{
    padding: 15px 5px;
    a {
        font-weight: bold;
        color: #000;
    }
}

//helpers
.underline {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 30%;
        height: 2px;
        background: $red;
        bottom: -5px;
    }
}
// Product search
.product-search {
    svg {
        position: absolute;
        top: 5px;
    }
    input{
        border: 0;
        border-bottom: 1px solid #b7b7b7;
        width: 100%;
        text-decoration: none;
        padding-bottom: 5px;
        padding-left: 30px;
        &:focus {
            outline: none !important;
        }
    }
}
.product-image{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}
.center-image{
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}