.header{
    .icon-shoppin-cart {
        position: relative;
        padding: 0 20px;
    }
    padding: 18px 0;
    .brand > *{
        color: $red;
        font-weight: 700;
    }
    .quantity-products {
        background: $red;
        border-radius: 50%;
        display: inline;
        padding: 3px 8px;
        color: #FFF;
        font-size: 12px;
        font-weight: 700;
        position: absolute;
        right: 8px;
        top: -15px;
    }
}